{}
* /*:not(.ui-draggable-dragging)*/{-webkit-transition: .3s all;transition: .3s all;-webkit-animation: show .4s;animation: show .4s;-webkit-tap-highlight-color:transparent}
body{font: 14px/160% 'Avenir Next', Avenir, 'Trebuchet MS', sans-serif}
img {max-width: 100%}
h2,h3{font-weight: normal; margin: 0; color: #4A4A4A}
h2{font-size: 1.6em}
h3{font-size: 1em; font-weight: normal}
a {text-decoration: none; display: inline-block}
header, section {text-align: center}
header{background: white; border: 4px solid #D0021B; width: 252px; height: 302px; margin: -65px 0 0 -65px; padding: 50px 50px 0 50px; border-radius: 50%}
header h2 {color: #D0021B; font-size: 24px; text-transform: uppercase; letter-spacing: 1px}
header h3 {color: #4A4A4A; font-size: 15px; text-transform: lowercase}
main{max-width: 1100px;position: relative}
#projects section:hover, #git a:hover, header:hover {-webkit-transform: scale(1.1) rotate(-2deg);transform: scale(1.1) rotate(-2deg)}
#projects section:active, #git a:active, header:active {-webkit-transform: scale(.9);transform: scale(.9)}
#git a:hover {-webkit-transform: scale(1.1) rotate(-4deg);transform: scale(1.1) rotate(-4deg)}
#git a:active {-webkit-transform: scale(.9);transform: scale(.9)}
section h2{margin: .5em 0 0; line-height: 120%}
.bubble {border-radius: 50%; box-sizing: border-box; margin: auto}
.bub {width: 24px; height: 24px; border-radius: 50%; position: absolute; -webkit-animation: show .4s, pulse infinite alternate 4s ease-in-out; animation: show .4s, pulse infinite alternate 4s ease-in-out; opacity: .9; z-index: -9999}
@-webkit-keyframes pulse { to {-webkit-transform: scale(1.2);transform: scale(1.2)} }
@keyframes pulse { to {-webkit-transform: scale(1.2);transform: scale(1.2)} }
@-webkit-keyframes show { from {opacity: 0} }
@keyframes show { from {opacity: 0} }

#d2w .bubble {background: -webkit-radial-gradient(50% 50%, #00D2FF, #002040);background: radial-gradient(50% 50%, #00D2FF, #002040); border: 8px solid #4FC3F7; width: 300px; height: 300px}
#d2w h2 {color: #4FC3F7}
#d2w img {margin-top:42px}

#oclb .bubble {background: url(llama.png), -webkit-radial-gradient(#FFEB3B, #F57F17);background: url(llama.png), radial-gradient(#FFEB3B, #F57F17); border: 4px solid rgba(121,85,72,.8); width: 192px; height: 192px}
#oclb h2 {color: #795548; font-size: 19px}
#oclb img {margin-top:32px; max-width: 128px}

#scl {margin-top: 5px}
#scl h2 {color: #0D47A1}
#scl h3 {font-size: 12px}

#git .bubble {background:white;border: 2px dashed #03A9F4; width: 280px; height: 280px; padding: 30px 1em 0}
#git h2 {color: #03A9F4; font-size: 24px}
#git h3 {font-size: 13px; margin-bottom: 10px}
#git a {margin: 0 4px}
#git a:not(#keybase) {border-radius: 50%; box-sizing: border-box; width: 80px; height: 80px; border:4px solid rgba(0,0,0,.1)}
#git #twitter {background: #55acee; padding: 20px 0 0 4px}
#git #email {background: #FF9800; padding: 15px 0 0 0}
#git #keybase {margin-top:-4px}


@media(max-width: 600px) {
    header,section,#projects a{display: block}
    header{margin:auto;border:0;padding:1em 0;height:auto}
    section {margin: 2em 0}
}
@media(min-width: 601px) {
    #projects section{display: block}
    section{margin: 1.5em 0}
    #git{position: absolute; left: 5%; top: 360px}
    #projects{position: absolute;right: 0;top:60px}
}
@media(min-width: 700px) {
    header{display: inline-block}
    section {position: absolute;margin:0}
    #projects{position:initial}
    #d2w  {right: 2%; top: 10px}
    #oclb {left: 30%; top: 260px}
    #scl  {left: 2%; top: 360px}
    #git  {right: 1%; left:initial; top: 380px}
}
@media(min-width: 800px) {
    #d2w  {left: 60%}
    #oclb {left: 37%; top: 240px}
    #scl  {left: 10%; top: 320px}
    #git  {left: 65%; top: 380px}
}